body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  border: 5px solid black;
  width: 500px;
  margin: 180px auto;
}

.card img {
  display: flex;
  align-content: center;
  margin: auto;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills {
  background-color: rgb(237, 157, 8);
  padding: 5px;
  margin: 5px;
}
